<div class="row">
  <div class="col-md-12" style="display: inline-block">
    <h1 style="font-size:50px; text-align:center">Burger Creator</h1>
    <br>
  </div>
</div>
<dir class=row>
  <dir class="col-md-3">
     </dir>
  <dir class="col-md-6" style="display: inline-block; background-color:white">
 <br>
   <h2 style="text-align:center">Write Your New Burger</h2>
  <dir class="row"> 
          
    <form id="writeBurger" class="button-size" >
      <textarea style="width:43vw" type="text" name="name_burger"></textarea>
      <br>
      <button type="submit">Save Burger!</button>
    </form>
    </dir>
    <br>
      <h2 style="text-align:center">New Burgers</h2>
<br>
    <ul>
      {{#each burgers}}
      {{#unless this.devoured}}
      <li>
        <p>
          {{this.id}}. {{this.burger_name}}

          <button id="{{this.id}}" class="devourIt">Devour it!</button>
        </p>
      </li>
      {{/unless}}
      {{/each}}
    </ul>
    <br>
    <h2 style="text-align:center">Devoured Burgers</h2>
    <br>
    <ul>
      {{#each burgers}}
      {{#if this.devoured}}
      <li>
        <p>
          {{this.id}}. {{this.burger_name}}
        </p>
      </li>
      {{/if}}
      {{/each}}
    </ul>

  </dir>
  <dir class="col-md-3"></dir>
</dir>

<script type="text/javascript">
  $(".devourIt").on("click", function (event) {
    var id = event.target.id
    $.ajax("/api/burgers/" + id, {
      type: "PUT"
    }).then(
      function () {
        console.log("deleted id ", id);

        location.reload();
      }
    );
  });

  $("#writeBurger").on("submit", function (event) {

    event.preventDefault();


    var newBurger = {
      burger: $("#writeBurger [name=name_burger]").val().trim()
    }

    $.ajax("/api/burgers", {
      type: "POST",
      data: newBurger
    }).then(
      function () {
        console.log("created new burger");
        location.reload();
      }
    );
  });


</script>